* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}
a:hover {
  color: black;
  text-decoration: none;
  transition: 0.5s;
}
a:active {
  color: black;
  text-decoration: none;
}
a:current {
  color: black;
  text-decoration: none;
}

a, p, span {
  font-family: "Roboto", sans-serif;
}

.navList {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navList .HeaderLogo {
  width: 50px;
}

.link {
  color: #fff;
}
.link:hover {
  color: rgb(255, 255, 168);
}

header {
  background-color: rgb(21, 130, 193);
}