.contact{
    background-color: #ef9513;
    text-align: center;
}
.contactList{
    display: flex;
    li img{
        max-width: 70px;
    }
    justify-content: space-around;
}
h2{
    font-size: xx-large;
}
