.navList{
    display:flex;
    justify-content: space-between;
    align-items:center;
    .HeaderLogo{
        width: 50px;
    }
}
.link{
    color: #fff;
    &:hover{
        color: rgb(255, 255, 168);
    }
}
header{
    height: 1000px;
    // background-color: rgb(21,130,193);
    width: 100%;
        height: 100%;
        background-image: linear-gradient(45deg,
                rgb(21, 130, 193) 0%,
                rgb(14, 106, 159) 25%,
                rgb(74, 150, 194) 50%,
                rgb(76, 169, 223) 75%,
                rgb(121, 194, 236) 100%);
        background-size: 400% 400%;
        animation: wave 10s ease infinite;
        }
@keyframes wave {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}
