.hero {
  margin: 0;
  padding-bottom: 0;
}
.whatIDo {
  padding: 50px;
  text-align: center;
  margin: 0;
  height: 1000px;
    background-color: rgb(247, 197, 10);
  width: 100%;
  height: 100%;
//   background-image: linear-gradient(
//     45deg,
//     rgb(244, 183, 14) 0%,
//     rgb(233, 183, 14) 25%,
//     rgb(233, 131, 81) 50%,
//     rgb(233, 131, 14) 75%,
//     rgb(233, 183, 14) 100%
//   );
  background-size: 400% 400%;
//   animation: wave 10s ease infinite;
}
@keyframes wave {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.card-wid {
  background: url("https://graphic-designer.weblium.site/res/5f987790dc028700210b11bd/5f9a3c016053350021920a77_optimized.webp");
  width: 200px;
  padding: 30px;
  border-radius: 20px;
}
.card-list {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
  flex-wrap: wrap;
}
.width2 {
  margin-bottom: 100px;
}
